.hidden {
  display: hidden;
}

#ping-pong {
    position: fixed;
    top: 5vh;
    bottom:1vh;
    left: 25vw;
    margin: auto;
    z-index: -1;
}
.form-group{
  text-align: center;
}

.button {
  position: fixed;
   left: 45vw;
}
